@model WebApplication1.Models.ContactViewModel

@{
    ViewData["Title"] = "Formulario de Contacto";
}

<style>
    body {
        background-color: #FAEBD7;
    }
    .titulo {
        color: #5D4037;
        font-weight: bold;
        border-bottom: 3px solid #8D6E63;
        padding-bottom: 5px;
    }

    table{
        background-color: white;
    }
</style>

<div class="container mt-4">
    <h2 class="text-center titulo">Formulario de Contacto</h2>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success text-center fw-bold">
            @TempData["SuccessMessage"]
        </div>
    }

    <div class="p-4 shadow-lg">
        <form asp-action="Submit" method="post">
            <div class="mb-3">
                <label>Nombre:</label>
                <input asp-for="NuevoMensaje.Nombre" class="form-control border-secondary" />
                <span asp-validation-for="NuevoMensaje.Nombre" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label>Correo Electrónico:</label>
                <input asp-for="NuevoMensaje.Correo" class="form-control border-secondary" />
                <span asp-validation-for="NuevoMensaje.Correo" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label>Mensaje:</label>
                <textarea asp-for="NuevoMensaje.Mensaje" class="form-control border-secondary" rows="4"></textarea>
                <span asp-validation-for="NuevoMensaje.Mensaje" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-cafe w-100 py-2">
                ✉️ Enviar Mensaje
            </button>
        </form>
    </div>

    <h3 class="mt-5 text-center titulo">Mensajes Recibidos</h3>
    <!--table-striped-->
    <table class="table table-hover mt-3">
        <thead class="table-header">
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Mensaje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var mensaje in Model.Mensajes)
            {
                <tr>
                    <td>@mensaje.Nombre</td>
                    <td>@mensaje.Correo</td>
                    <td>@mensaje.Mensaje</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
